header {
	padding-top: 1em;
}

.available-actions {
}

.resource-group .action {
	margin: .5em;
}

.resource {
	text-transform: capitalize;

}

.list-group,
.list-group-item,
.list-group-item:first-child,
.list-group-item:last-child {
	border: none;
	border-radius: 0;
}

.list-group-item>.badge.resource-count {
	font-size: 3em;
	float: left;
}
.list-group-item>.badge.resource-name {
	font-size: 1em;
	float: left;
	position: relative;
	top: 5px;
}

.mdl-button {
	color: white;
}

.mdl-ripple {
	background-color: white;
}

.mdl-card__supporting-text {
	padding:0;
}

.demo-card-wide.mdl-card {
	width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('img/catan4.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.resource-group {
	margin-top: 1em;
}

.list-group-item.resource {
	height: 6em;
}

.badge {
	background-color: transparent;
}

.brick {
	background-color: #ef5350;
}

.wood {
	background-color: #A1887F;
}

.stone {
	background-color: #90A4AE;
}

.wheat {
	background-color: #FFB74D;
}

.sheep {
	background-color: #AED581;
}


.list-group {
	margin-bottom: 0;
}

.steppers {
	float: right;
	margin-right: 20px;
}
.add-resource,
.remove-resource {
	margin-right: 1px;
	margin-left: 1px;
}
